.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px 0px var(--shadow);
    width: 600px;

    .action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
}
